
body {
    background-color: black;
}
#board {
    padding: 3em;
    text-align: center;
    color: yellow;
}

h2 {
    padding: 2em;
    text-align: center;
    color: yellow;
    height: 50px;
    width: 750px;
}
button {
    margin-bottom: 3em;
    background-color: black;
    color: yellow;
}

button:hover {
    background-color: blue;
    cursor: pointer;
}

.row {
    clear: both;
    margin: 0 auto;
    width: 302px;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    line-height: 100px;
    font-size: 75px;
}

.top {
border-bottom: 1px yellow solid;
}
.bottom {
border-top: 1px yellow solid;
}
.left {
border-right: 1px yellow solid;
}
.right {
border-left: 1px yellow solid;
}
